<html>
<div class="card">
	<head>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
	<link type="text/css" href="./styles.css" rel="stylesheet">
	</head>
  <div class="icon">
    <img src="./private/lelbron.jpeg" width="80" height="80"></div>
  <div class="header">
    <div class="image"> <img src="./private/block.png" alt="" /> </div>
    <h2>sweatycave.ddns.net</h2>
    <!-- put server name here !-->
  </div>
  <div id="rest">Loading ...</div>
</div>
<script language="JavaScript" type="text/javascript" src="/js/test.js"></script>
</html>